@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

:root {
    --purple: #C600BE;
    --pink: #CD156D;
    --bg-dark: #212226;
    --light-grey: #E8DEDE;

    --menu-height: 75px;

    /*testeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee*/
}
* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    background: var(--bg-dark);
}

body, button, input, select, textarea {
    font-family: 'Poppins', sans-serif;
    color: var(--light-grey);

     /*testeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee*/
}

h1 {
    font-size: 44px;
}

h2 {
    font-size: 24px;
}

h1, h2 {
    margin: 0;
    font-weight: 400;
}

button{
    background: var(--purple);
    border: 0;
    border-radius: 16px;
    padding: 8px 35px;
    font-weight: bold;
    font-size: 18px;

     /*testeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee*/
       /*testeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee*/
         /*testeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee*/
           /*testeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee*/
             /*testeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee*/
               /*testeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee*/
}

header {
    height: calc(100vh - var(--menu-height));
    display: flex;
    align-items: center;
}

header .container {
    width: 50%;
    height: fit-content; /*Faz a altura conforme os elementos que tenho dentro*/
    padding: 0 100px;
}

header .container h1 {
    color: var(--pink)
}

header .container button {
    margin-top: 40px;
}

nav {
    display: flex;
    align-items: center;
    background: var(--bg-dark);
    justify-content: space-between;
    height: var(--menu-height);
    padding: 0 100px;
    position: sticky; /*Faz o menu ficar fixo quando da o scroll*/
    top: 0; /*Faz o menu ficar fixo quando da o scroll*/
}

nav img {
    height: 75px;
}

nav ul a {
    font-size: 24px;
    color: var(--pink);
    text-decoration: none;
    margin: 0 30px;
}

section {
    height: 1500px;
    background: purple;
}